.Toastify__toast--error {
    border: none !important;
    background: #d32f2fee !important;
}

.Toastify__toast--success {
    border: none !important;
    background: #43a047ee !important;
}

.Toastify__toast--warning {
    border: none !important;
    background: #ff9800ee !important;
}

.Toastify__toast--info {
    border: none !important;
    background: #2196f3ee !important;
}

.Toastify__toast {
    width: 100%;
    box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%), 0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%) !important;
}

.toast-container {
    font-weight: 300;
    font-size: 13px;
}

.Toastify__toast-container div {
    transition: 0.3s ease;
}
